<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 autoReload="true">
	<!-- crea subcarpeta por día por ejemplo logs/2017-07-23/ -->
	<variable name="logDirectory" value="E:\WORK\D_VISION\SRC\LibraryLogger\TestLogger\${shortdate}"/>
	<!-- Fichero con fecha Ejemplo logs/2010-06-08.log -->
	<!-- <variable name="logDirectory" value="${basedir}/${shortdate}.log"/> -->

   <targets>
     <target name="console" xsi:type="ColoredConsole" 
      layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
     <target name="file" xsi:type="File" fileName="${logDirectory}/log.log" 
      layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace} ${message}" />
   </targets>

    <rules>
        <logger name="TestLogger" minlevel="Trace" writeTo="console,file" />
    </rules>
</nlog>